################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/Stock.Tests/obj/Release
/Stock.Tests/obj/Debug
/Stock/obj
/Stock/bin
/Stock/Properties/PublishProfiles
/Stock/favicon.ico
